
* { margin: 0; padding: 0; box-sizing: border-box; }

canvas { display: block; }

#panel {
  position: fixed;
  top: 60px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Space Grotesk', monospace;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background: #1e1e1ee6;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 14px;
  width: 260px;
  
}

label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  color: #afafaf;
}

.mode-item {
  color: #afafaf;
}

.mode-on {
  color: #fff;
}

.mode-off {
  color: #afafaf;
}


#title {
  font-size: 20px;
  font-weight: bold;
  align-self: center;
  color: #fff;
}

#hints {
  color: #afafaf;
  font-size: 13px;
  align-self: center;
  line-height: 1.6;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.row input {
  flex: 0.85;
  accent-color: rgb(255, 255, 255);
}

.row span {
  color: rgb(255, 255, 255);
  width: 28px;
  text-align: right;
}

#modes {
    color: #f1f1f1;
    padding-top: 10px;
    border-top: 1px solid #2a2a2a;
}

#counter {
  color: #f1f1f1;
  padding-top: 8px;
  border-top: 1px solid #2a2a2a;
}

#popup {
  display: none;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255,255,255,0.08);
  /* border: 1px solid rgba(255,255,255,0.1); */
  color: #aaa;
  text-align: center;
  font-family: 'Space Grotesk', monospace;
  font-size: 14px;
  padding: 6px 18px;
  transition: opacity 0.8s ease, background 0.3s, color 0.3s;
  pointer-events: none;
  white-space: nowrap;
  border-radius: 30px;
  corner-shape: squircle;
  z-index: 999;
}





kbd {
  background: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.2);
  padding: 1px 5px;
  border-radius: 3px;
  font-family: monospace;
}

#toast {
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255,255,255,0.08);
  /* border: 1px solid rgba(255,255,255,0.1); */
  color: #aaa;
  font-family: 'Space Grotesk', monospace;
  font-size: 16px;
  padding: 6px 18px;
  opacity: 0;
  transition: opacity 0.8s ease, background 0.3s, color 0.3s;
  pointer-events: none;
  white-space: nowrap;
  border-radius: 30px;
  corner-shape: squircle;
}

.reset-btn {
  background: none;
  border: none;
  color: #afafaf;
  cursor: pointer;
  font-size: 13px;
  padding: 0 2px;
  line-height: 1;
}
