

* { margin: 0; padding: 0; box-sizing: border-box; }

canvas { display: block; background: #020e37; }

#panel {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Space Grotesk', monospace;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background: #1e1e1e;
  padding: 14px;
  width: 260px;
}



#title {
  font-size: 20px;
  font-weight: bold;
  align-self: center;
  color: #fff;
}

#hints {
  color: #555;
  font-size: 13px;
  align-self: center;
  line-height: 1.6;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  color: #aaa;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.row input {
  flex: 0.85;
  accent-color: rgb(255, 255, 255);
}

.row span {
  color: rgb(255, 255, 255);
  width: 28px;
  text-align: right;
}

#modes {
    color: #bcbcbc;
    padding-top: 10px;
    border-top: 1px solid #2a2a2a;
}

#counter {
  color: #555;
  padding-top: 4px;
  border-top: 1px solid #2a2a2a;
}
